<div class="ticker_displayarea">
</div>



<nav class="sidebar">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </label>
  <label class="logo" (click)="turnToSearch()">Stock Search</label>
  <ul id="nav_ul">
    <li><a id="a_1" (click)="turnToSearchticker()">Search </a></li>
    <li><a id="a_2" (click)="turnToWatchlist()">Watchlist </a></li>
    <li><a id="a_3" (click)="turnToPortfolio()">Portfolio </a></li>
  </ul>
</nav>

<div class="blank"> </div>
<div class="p1_displayarea">
  <router-outlet style="width: 100%"></router-outlet>
</div>
<footer class="finn_footer">
  Powered by <a href="https://finnhub.io" target="_blank">Finnhub.io</a>
</footer>
